[submodule "journal"]
	path = docs/journal
	url = https://github.com/quanttide/quanttide-journal-of-business-entity.git
[submodule "profile"]
	path = docs/profile
	url = https://github.com/quanttide/quanttide-profile-of-business-entity.git
[submodule "report"]
	path = docs/report
	url = https://github.com/quanttide/quanttide-report-of-business-entity.git
